{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Inscrição para o FLISOL{% endblock title %}

{% block content %}
  {% bootstrap_messages %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Inscrição para o FLISOL 2014 - Rondonópolis</div>
        <div class="panel-body">
          <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary pull-right">
                Inscrever-se {% bootstrap_icon "ok" %}
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Palestras</div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Oficinas</div>
        <ul class="list-group">
          <li class="list-group-item">14:00h - Introdução à Programação Visual utilizando Lazarus</li>
          <li class="list-group-item">15:00h - Oficína de introdução ao Blender 3D</li>
          <li class="list-group-item">16:00h - Desenvolvimento de um Game usando OpenSpace e Blender</li>
          <li class="list-group-item">17:00h - Minerando Dados no Twitter usando Python</li>
          <li class="list-group-item">18:00h - Como se tornar um casemoder iniciante</li>
        </ul>
      </div>
    </div>

  </div>
{% endblock content %}